<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1>Become a chef</h1>

			<%= render 'form', chef: @chef %>

			<%= link_to 'Back', chefs_path %>

		</div>			
	</div>
</div>
