    <div class="footer " id="footer" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
      <div class="container ">
        <div class="row ">
          <div >
            <ul class="list-inline ">
              <li><a href=""><i class="fa fa-youtube"></i></a></li>
              <li><a href=""><i class="fa fa-instagram"></i></a></li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-8 ">
            <p>This is a ShareMyFood Home </p>
          </div>
        </div>
      </div>
    </div>
