<div class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<h1>New order</h1>

			<%= render 'form', order: @order%>

			<%= link_to 'Back', order_path %>

		</div>
	</div>
</div>
