<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%)">
  <h1>Share my food</h1>
  <br>
  <p>Think globally, eat locally</p>
  <br>
  <%= link_to "Check out menus available near you", menus_path, class: "btn-home" %>
</div>


</div>
