.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;

}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

div {
    display: block;
}
.card-img {
        opacity: 0.5;
}

.card-inverse {
    color: rgba(255,255,255,.65);
}
.box-card {
  background-color: rgba(255,255,255, 0.6);
  width: 45%;
  height: auto;
  margin-left: 20%;
  border-radius: 3%
}
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

}

.card-avatar {
  position: absolute;
  top: 5px;
  left: 5px;
}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.pad {
padding-left: 10%;
padding-right: 10%;
}

.card-title {
    color: #69140E;
    font-size: 40px;
    text-align: center;
}

.card-text {
    color: black;
    font-size: 20px;
    margin: 0 0 10px 20px;
}
.mvbtngrp{
  position: absolute;
  right: 5%;
}
